.head-container {
  display: grid;
  grid-template-columns: repeat(16, [col] calc(100% / 16));
  grid-template-rows: repeat(8, [row] calc(100% / 8));
}

.head-backround {
  background-image: url("../img/newyork.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.head-spiderman {
  grid-column: col 4 / span 7;
  grid-row: row 2 / span 7;
  align-self: end;
  z-index: 10;
}

.head-bd {
  grid-column: col 1 / span 3;
  grid-row: row 5 / span 3;
  z-index: 11;
}

.head-anim {
  grid-column: col 3 / span 3;
  grid-row: row 1 / span 3;
  z-index: 12;
}

.head-films {
  grid-column: col 9 / span 4;
  grid-row: row 1 / span 3;
  z-index: 13;
}

.head-games {
  grid-column: col 13 / span 3;
  grid-row: row 2 / span 3;
  z-index: 14;
}

.head-goodies {
  grid-column: col 13 / span 4;
  grid-row: row 5 / span 4;
  z-index: 15;
}

.head-bio {
  grid-column: col 7 / span 3;
  grid-row: row 8 / span 1;
  align-self: end;
  z-index: 16;
}

.head-empty1 {
  grid-column: col 3 / span 1;
  grid-row: row 4 / span 1;
  z-index: 19;
}

.head-empty2 {
  grid-column: col 1 / span 1;
  grid-row: row 8 / span 1;
  z-index: 19;
}

.head-img {
  width: 100%;
  height: auto;
}

.head-transparent {
  width: 100%;
  max-width: 25px;
  height: 25px;
}